#main_section{
	margin-top: 1em;	
	border-radius: 10px;
	display: flex;
}
#otitle{
	text-align: center;
	padding-top: 1em;
	font-size: 24px;
	margin-bottom: 0;
}
#ntitle{
	margin-top: 0;
	text-align: center;
	color: darkgray;
}
/* Image and trailer */
#media_wrapper{
	width: 400px;
	height: 700px;
}
#movie_image{
	margin: auto;
	height: 500px;
	width: 100%;
	display: inline-flex;
	justify-content: space-around;
}
#movie_image img{
	margin: auto;
	height: 500px;
}
#movie_trailer{
	width: 100%;
	height: 200px;
	padding-top: 20px;
	display: inline-flex;
	justify-content: space-around;

	font-family: Arial;
	font-weight: bold;
}
#movie_trailer iframe{
	width: 90%;
}

/* Information section */
#film_info{
	width: 75%;
	float: left;
	padding: 10px;
}

/* Everything BUT summary */
#small_info{
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}

/* Top most info, the rating section */
#rating_section{
	display: inline-flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	border-bottom: 2px solid #0C5FC4;
}
#rating_section *{
	margin: 0 10px 0 10px;
}
#stars {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}
#stars > span {
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.star{
	 font-size: 24px;
 }
#stars > span:hover,
#stars > span:hover ~ span {
	color: transparent;
}
#stars > span:hover:before,
#stars > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: goldenrod;
}
#rating_buttons{
	display: inline-flex;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: auto;
	width: 50%;
}
#rating_buttons *{
	margin: auto;
	padding: 0 10px 0 10px;
}
.add_to_list{
	border: 1px solid #0C5FC4;
	width: 60px;
	height: 30px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	font-weight: bold;
	background: lightblue;
	color: #0C5FC4;
}
.add_to_list:hover{
	background: lightblue;
	color:white;
	border: 2px solid white;
}
.add_to_list:active{
	background: lightgreen;
	color: #0C5FC4;
}
#review {
	width: 70px;
}
#rating{
	font-family: Arial;
	font-weight: bold;
	width: 50px;
}

/* Information about the movie NOT summary */
#info{
	display: inline-flex;
	flex-direction: column;
	border-bottom: 2px solid lightblue;
}
#div_data{
	display: inline-flex;
	justify-content: space-around;
	border-bottom: 2px solid lightblue;
}
#data{
	width: 50%;
}
.data_li{
	padding: 5px;
}
#CYL_info{
	list-style: none;
	font-weight: bold;
}
#genre_wrapper{
	width: 50%;
	display: inline-flex;
}
#genre_wrapper h3{
	padding: 0 10px 0 0;
}
#cast_wrapper{
	display: inline-flex;
}
#cast_container{
	border-left: 2px solid lightblue;
	margin-left: 10px;
	padding: 10px;
}

/* Summary section */

/* Responsiveness */
@media (max-width:1120px){
	main{
		width: 810px;
	}
}
@media (max-width:820px){
	main{
		width: 100%;
	}
	#main_section{
		display: inline-flex;
		flex-direction: column;
		width: 100%;
		height: 800px;
	}
	#main_section *{
		margin: auto;
	}
	#media_wrapper{
		width: 100%;
	}
	#movie_image{
		height: 500px;
	}
	#movie_image img{
		height: 100%;
	}
	#movie_trailer{
		padding: 0;
	}
	#movie_trailer iframe{
		width: 70%;
		height: 90%;
	}
}
@media (max-width:550px){
	main{
		width: 100%;
	}
}