#main_section{
	margin-top: 1em;	
	border-radius: 10px;
	display: flex;
}
#otitle{
	text-align: center;
	padding-top: 1em;
	font-size: 24px;
	margin-bottom: 0;
}
#ntitle{
	margin-top: 0;
	text-align: center;
	color: darkgray;
}
/* Image and trailer */
#media_wrapper{
	width: 25%;
}
#movie_image{
	margin: auto;
}
#movie_image img{
	margin: auto;
}

/* Information section */
#film_info{
	background: lightgray;
	width: 75%;
	float: left;
	padding: 10px;
}

/* */
#small_info{
	display: flex;
	background: pink;
	padding: 10px;
}
.info_elements{
	margin: auto;
	padding: 0;
}
.author{
	color: black;
}
#CYL_info{
	padding: 0;
	margin: 0;
	font-weight: bold;

}
#CYL_info li{
	list-style: none;
}


/* Responsiveness */
@media (max-width:1120px){
	main{
		width: 810px;
	}
}
@media (max-width:820px){
	main{
		width: 540px;
	}
	.filmSideInfo{
		width: calc(100% - 20px);
		padding: 10px;
	}
	.mediaWrapper{
		width: 100%;
	}
}
@media (max-width:550px){
	main{
		width: 400px;
	}
	.film{
		width: 100%;
	}
	.slideShow{
		height: auto;
	}
}