html, body{
	padding: 0;
	margin: 0;
	background: lightgray;
}

text, p, label, span, input, li, a, time, h1, h2, h3{
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

main{
	width: 1100px;
	margin: auto;
	max-width: 100%;
	z-index: 999;
	overflow: hidden;
}

.info-pane{
	width: auto;
	overflow-y: auto;
    white-space: nowrap;
	padding: 5px;
	height: auto;
	max-width: 90%;
	margin: 0 auto;
}

.info-header-wrap{
	width: 100%;
	display: block;
	overflow: auto;
}
.info-header{
	float: left;
}



.film{
	display: inline-block;
    color: white;
    text-align: center;
	width: 260px;
	padding-bottom: 10px;
	background: gray;
	border: 1px solid silver;
	border-radius:2px;
	height:200px;
	overflow: hidden;
}

.filmPic{
	max-width: 100%;
	max-height: calc(100% - 10px);
	display: block;
	padding:5px;
	overflow: hidden;
}

/*@media (max-width:1120px){
	main{
		width: 810px;
	}
}

@media (max-width:820px){
	main{
		width: 540px;
	}
}


@media (max-width:550px){
	main{
		width: 400px;
	}

	.film{
		width: 100%;
	}
	.filmPic{
		display: block;
		margin:0 auto;
	}
}
*/





