/*
* Skrevet av kandidat 141
*/


main{
    width: 1100px;
    border: 1px solid silver;
    border-radius:2px;
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
    max-width: 95%;
    padding: 20px 4px;
    margin: 40px auto 0;
}


summary{
  outline:none;
}
summary:hover{
    cursor: pointer;
    background: #ccc;
}

#advanced-search{
    border: 1px solid #333;
    border-radius: 2px;
}
td{
    padding: 5px;
}

#submit_search{
    display:block;
    padding:5px;
    border:1px solid silver; 
    border-radius:2px;
    color:white;
    background-color:#333;
    margin-bottom:10px;
    margin-top:10px;
}

#search{
    max-width: 100%;
    width: 1000px;
    margin:0 auto;
}

#fuzzy-search{
    display: none;
}

#fuzzy-search input[type="search"]{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    width: 100%;
    height: 40px;
    border:1px solid silver;
    border-radius: 4px;
    padding:5px;
    margin-right:10px;
}

#fuzzy-search input[type="submit"]{
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
    height: 40px;
    padding:5px;
    padding-right: 20px;
    padding-left:20px;
    border-radius: 4px;
}

#loadMoreButton{
    display: block;
    margin:0 auto;
    padding:10px;
    border-radius: 100%;
    background-color: black;
    color:white;
}

#search-info{
    display: block;
    margin:0 auto;
    max-width: 100%;
}

.search-item{
    width: 1000px;
    overflow: auto;
    max-width: 100%;
    border:1px solid grey;
    border-radius:2px;
    margin: 2px auto;
    background-color:#e4f3f8;
    box-shadow: 0 0 30px -4px rgba(153,133,153,1);
}

.search-item:hover{
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}

.search-item p, h3{
    margin:10px auto;
    padding:10px;
}

#search-box{
    max-width: 100%;
    border-radius: 2px;
    border:1px solid grey;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}


.img-wrapper{
    width: 200px;
    height: 150px;
    padding:10px;
    float: left;
}



.search-image{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.information{
    display: block;
    width: calc(100% - 222px);
    float: right;
}

.movieLink{
    text-decoration: none;
}

.search-container{
    max-width: 100%;
    width: 1000px;
    margin:0 auto;
}


@media(max-width: 400px){
    .img-wrapper{
        max-width: 100%;
        margin:0 auto;
        float: none;
    }

    .information{
        width: 100%;
        margin: 0 auto;
        float:none;

    }

    .information p, h3{
        text-align: center;
    }
}